.btn {
  height: 60px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 16px 23px;
  color: #212353;
  border: 1px solid var(--color-accent-btn);
  border-radius: 50px;

  &__icon {
    color: var(--color-accent-btn);
    width: 22px;
    height: 16px;
  }
}
.btn {
  &:hover {
    background-color: var(--color-accent-btn);
    color: var(--color-white-btn);

    .btn__icon {
      color: var(--color-white-btn);
    }
  }
}
.hero__learn-btn {
  font-size: 18px;
  padding: 18px 52px;
  color: var(--color-white-btn);
  border: 1px solid var(--color-accent-btn);
  background-color: var(--color-accent-btn);
  border-radius: 50px;
  &:hover {
    border: 1px solid var(--color-accent-btn-darker);
    background-color: var(--color-accent-btn-darker);
  }
}
.pink {
  margin-right: 30px;
  background-color: #f063b8;
  border: 1px solid #f063b8;
}
.pink:hover {
  background-color: #eb4bab;
  border: 1px solid #eb4bab;
}
