.btn {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 16px 23px;
  color: #212353;
  border: 1px solid var(--color-accent-btn);
  border-radius: 50px;

  &__icon {
    color: var(--color-accent-btn);
    width: 22px;
    height: 16px;
  }
}
.btn {
  &:hover {
    background-color: var(--color-accent-btn);
    color: #ffffff;

    .btn__icon {
      color: #ffffff;
    }
  }
}
