:root {
  --color-text-primery: #4b5d68;
  --color-accent-btn: #9c69e2;
  --color-accent-btn-darker: #8a40ee;
  --color-title: #212353;
  --color-white-btn: #ffffff;
}
$main-font-family: "Montserrat", sans-serif;
$main-font-size: 1rem;
$main-font-weight: 500;

$container-width: 1170px;
