:root {
  --color-text-primery: #4b5d68;
  --color-accent-btn: #9c69e2;
}
$main-font-family: "Montserrat", sans-serif;
$main-font-size: 1rem;
$main-font-weight: 500;
$container-width: 1170px;
$main-font-size: 1rem;
$main-font-weight: 500;
